/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: #1e1919;
}

h2{
  font-size: 2.5rem;
  margin-bottom: 70px;
}

p{
  line-height: 25px;
}

/* UTILITY */
.container1 {
  width: 90%;
  max-width: 1180px;
}

.container2 {
  width: 80%;
  max-width: 1000px;
}

.container1, .container2 {
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.btn{
  padding: 13px 20px;
  display: inline-block;
}

.small{
  padding: 8px 15px;
}

.btn.bg-blu, .small.bg-blu{
  background-color: #0061fe;
  color: white;
}

.btn.bg-blu:hover {
  background-color: #0090fe;
}

.btn.small.border{
  border: 1px solid black;
}

.user::marker{
  content: '\f007';
  font-family: FontAwesome;
}
.users::marker{
  content: '\f0c0';
  font-family: FontAwesome;
}
.building::marker{
  content: '\f1ad';
  font-family: FontAwesome;
}

.folder::marker{
  content: '\f07b';
  font-family: FontAwesome;
}

.share::marker{
  content: '\f1e0';
  font-family: FontAwesome;
}

.check::marker{
  content:  '\f00c';
  font-family: FontAwesome;
}

/* /UTILITY */

/* HEADER */
header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  flex-wrap: wrap;
}
header ul {
  list-style: none;
}
header ul li {
  display: inline-block;
  line-height: 80px;
}

header ul li:hover{
  border-bottom: 1px solid black;
}

header .left  li {
  margin-right: 30px;
}

header .right  li {
  margin-left: 30px;
}

header img{
  vertical-align: middle;
}
/* /HEADER */

/* MAIN */
main {
  margin-top: 80px;
}

section h3{
  font-size: 1.5rem;
}

.cell a, .partners a {
  text-decoration: underline;
  color: #182cef;
}
/* JUMBOTRON */
.jumbotron {
  background-color: #b4d0e7;
  padding-top: 70px;
  margin-bottom: 160px;
}
  

.jumbotron h1{
  height: 180px;
  margin-bottom: 50px;
  font-size: 4.8rem;
}

.jumbotron .content-bottom{
  position: relative;
}

.jumbotron .text{
  width: 30%;
}

.jumbotron .right-img{
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
}

.jumbotron .text p {
  padding-bottom: 40px;
}

.jumbotron .text .bg-blu{
  margin-bottom: 30px;
}

.jumbotron .text span {
  display: block;
  margin-bottom: 60px;
}

.jumbotron .text i{
  font-size: 2.5rem;
  padding-bottom: 20px;
}
/* /JUMBOTRON */

/* FIRST SECTION */
.buisness-plain .radio-box{
  margin-bottom: 50px;
}

.buisness-plain .radio-box span{
  padding-right: 30px;
}

.buisness-plain .row{
  justify-content: space-between;
  margin-bottom: 50px;
}

.row .cell{
  width: calc(100% / 3 - 10px);
}

.row .cell, 
.row-enterprise .orizontal-cell{
  border: 1px solid #d0d0d3;
}

.row .cell .head-cell, 
.orizontal-cell .head-cell {
  height: 40px;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 40px;
  text-align: center;
  padding: 10px 0;
}

.row .cell .middle-cell{
  margin-bottom: 60px;
  padding: 0 40px;
}

.cell .middle-cell ul:first-of-type
li:first-child {
  font-weight: bold;
}

.cell .middle-cell ul:first-of-type
li:last-child {
  color: #7072a6;
}

.cell ul {
  padding-bottom: 50px;
  list-style: none;
}

.cell li{
  padding-top: 15px;
  padding-left: 5px;
}

.cell .btn, .orizontal-cell .btn{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
}



.middle-cell span{
  padding-bottom: 30px;
  border-bottom: 1px solid #d0d0d3;
}

.row .footer-cell{
  padding: 0 40px;
}

.row .footer-cell li::marker{
  content:  '\f00c';
  font-family: FontAwesome;
  color: #0061ff;
  font-weight: 800;
}

.row-enterprise{
  margin-bottom: 150px;
}

.orizontal-cell .main-cell{
  justify-content: space-between;
  padding: 0 40px;
}

.orizontal-cell .main-cell .button-right{
  padding-left: 20px;
  width: 30%;
  text-align: right;
}

.orizontal-cell .main-cell .text-left{
  width: 70%;
}

.orizontal-cell .main-cell .text-left h3{
  padding-bottom: 20px;
}

.main-cell .text-left p:first-of-type{
  font-weight: bold;
  padding-bottom: 50px;
}

.main-cell .text-left p:last-of-type{
  padding-bottom: 30px;
}
/* /FIRST SECTION */

/* SECOND SECTION */
.search-partner {
  margin-bottom: 150px;
}

.search-partner .img-left {
  width: 60%;
}

.search-partner .text-search-partner{
  width: 40%;
  padding: 50px 0  0 45px;
}

.search-partner .text-search-partner h3{
  padding-bottom: 20px;
}

.search-partner .text-search-partner p {
  padding-bottom: 40px;
  font-size: 1.1rem;
}

.search-partner .text-search-partner a{
  border: 1px solid black;
}

.search-partner .text-search-partner a:hover{
  border: 2px solid black;
  font-weight: bold;
}
/* /SECOND SECTION */

/* THIRD SECTION */
.dropbox-buisness{
  margin-bottom: 170px;
}

.dropbox-buisness .row {
  flex-wrap: wrap;
}

.dropbox-buisness .card{
  width: calc(100% / 3);
  padding: 0 15px;
  padding-bottom: 80px;
}

.dropbox-buisness .card .bottom h3{
  padding-bottom: 40px;
}
/* /THIRD SECTION */

/* FOURTH SECTION */
.partners .container2{
  padding-right: 350px;
}

.partners .container2 a{
  display: inline-block;
  margin-bottom: 150px;
}

.partners {
  margin-bottom: 200px;
}

.partners .sponsor{
  height: 600px;
}
.column{
  width: calc(100% / 3);
  flex-wrap: wrap;
}

.square{
  width: calc(100% / 2);
  justify-content: center;
  align-items: center;
  height: calc(100% / 2);
}

.description{
  padding: 20px 40px;
  background-color: #f5f5f5;
}
.description img {
  width: 250px;
  margin-bottom: 60px;
}
.description hr{
  width: 120px;
}

.description  p{
  padding-top: 30px;
  padding-bottom: 40px;
}
.square img{
  filter: invert(1);
  width: 150px;
  min-width: 150px;
}

.square.designit{
  background-color: #a2d39b;
}
.square.arizona{
  background-color: #61082b;
}
.square.florida{
  background-color: #0093ce;
}
.square.topps{
  background-color: #ff1c1c;
}
.square.bicycle{
  background-color: #d5001f;
}
.square.hearts{
  background-color: #b4d0e7;
}
.square.lonely{
  background-color: #0d2481;
}
.square.channel{
  background-color: #ffd830;
}
/* /FOURTH SECTION */

/* /MAIN */

/* FOOTER */
/* /FOOTER */